h1 {
    font-size: 3em;
    margin: 0;
}

h2 {
    margin-top: 0;
}

p {
    line-height: 1.4em;
    width: 400px;
}

article{
    border-bottom: 1px dotted #ccc;
}

time {
    color: rgb(121, 121, 121);
}

#blog{
    width: 50%;
    margin: 0 30px;
}

.blog-title{
    margin-bottom: 2px;
}

.author{
    margin-bottom: 4px;
}

.info-table {
    text-align: left;
}

.img-container{
    height: 80px;
    width: 80px;
    float: left;
    margin-right: 5px;
}